# General Settings
WEB_URL=http://localhost:5173
API_URL=http://localhost:8787

# Authentication Settings
BETTER_AUTH_SECRET=SOME_RANDOM_STRING_MIN_32_CHARACTERS

# Google Settings
GOOGLE_CLIENT_ID=SOME_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=SOME_GOOGLE_CLIENT_SECRET

# Encryption Settings
ENCRYPTION_SECRET=SOME_RANDOM_STRING_MIN_32_CHARACTERS